@import "edit-popover.css";
@import "controller-panel.css";
.factory-element {
  width: 100%;
  height: 100%;
}
.factory-element:hover {
  /*border: 1px solid #d0d0d0;*/
}
.builder-edit-slot {
  flex: 1
}
.builder-edit-slot .builder-add-to-slot .builder-add-element {
  visibility: hidden;
}
.builder-edit-slot:hover > .builder-add-to-slot:first-child > .builder-add-element {
  visibility: visible;
}
